body{
    margin: 0px;
}

.line-purple{
    height: 22px;
    width: 100%;
    background-color: #592766;
    color: wheat;
    display: flex;
   
}

.popup-bottom{
    display: flex;
    height: 40px;
    background-color: gray;
    justify-content: space-between;

  
    
}

.mess-bottom{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.content-bottom-text{
    border: 2px solid black;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.content-bottom-right{
    border: 2px solid black;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}